.favorites {
  padding: 40px;

  h1 {
    margin: 0 0 40px;
  }
}

.sneakers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 40px;
}

.loading,
.error,
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.error {
  color: red;
}

.empty {
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    opacity: 0.6;
  }
}